<div class="border-outer-container">
<!-- PROJECT TOP -->
  <div class="tc1">
    <div class="tc1-inner">
      <p class="icons-inline-tp"><span class="material-icons">
        add_circle
        </span></p>
        <p class="icons-inline-tp p-project-align">Project</p>
        <p class="icons-inline-tp p-project-align-two"><span class="fas fa-caret-down"></span></p>
    </div>
    <mat-divider></mat-divider>
  </div>
<!-- Project Tree -->
  <div class="tc2">
    <div class="tc2-inner">
      <p class="p-project-tree-align-one">Project Tree</p>
      <p class="p-project-tree-align-two"><span class="material-icons.md-24">
        add_circle
        </span>
        </p>
      <p class="p-project-tree-align-three"><span class="material-icons.md-24">
        cloud_download
        </span></p>
      <p class="p-project-tree-align-four"><i class="fas fa-angle-double-left"></i></p>
    </div>
    <mat-divider></mat-divider>
  </div>
<!-- Chips -->
  <div class="tc3">
  <div class="tc3-inner">
    <mat-chip-list>
      <mat-chip>Programme</mat-chip>
    </mat-chip-list>
  </div>
  <mat-divider></mat-divider>
</div>
</div>
